<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@exampledev/new.css@1/new.min.css">
    <link rel="stylesheet" href="https://newcss.net/theme/night.css">
    <title>Document</title>
</head>
<body>
    <h1>Retry Client</h1>
    <h2>Server</h2>
    <code>
      {{server}}
    </code>
    <h2>Req Headers</h2>
    <code>
      {{req_headers}}
    </code>
    <h2>Status</h2>
    <code>
      {{status}}
    </code>
    <h2>Headers</h2>
    <code>
      {{headers}}
    </code>
    <h2>Text</h2>
    <code>
      {{text}}
    </code>
</body>
</html>
